[bumpversion]
current_version = 0.1.0
commit = False
tag = False


[bumpversion:file:README.md]

[bumpversion:file:src/TRIPs/__init__.py]

[bumpversion:file:tests/__init__.py]

[bumpversion:file:pyproject.toml]

